footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer .section .columns p {
  font-size: 24px;
}

footer .section .columns ul {
  padding: 0px;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: underline;
}

footer .section .columns ul li {
  list-style: none;
  text-decoration: none;
}

footer .section .columns ul li a:any-link {
  list-style: none;
  text-decoration: none;
  color: #323232;
}