footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer .section .columns p {
  font-size: 24px;
}

footer .section .columns ul {
  padding: 0px;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: underline;
}

footer .section .columns ul li {
  list-style: none;
  text-decoration: none;
}

footer .section .columns ul li a:any-link {
  list-style: none;
  text-decoration: none;
  color: #323232;
}

footer .section.copyright .default-content-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin: 20px 0px;
}

footer .section.copyright img {
  width: 100px;
  height: unset;
}

footer .section.copyright p:nth-of-type(2) {
  margin-left: auto;
}

footer .section.terms {
  margin: 20px 0px;
}

footer .section.terms ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5rem 1.5rem;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
  margin: 0;
  color: #323232;
  font-size: 16px;
}

footer .section.terms ul li {
  text-decoration: underline;
  cursor: pointer;
}

footer .section.terms ul li a:any-link {
  color: #323232
}